Module14EEWebServiceSOAP/WebContent/wsdl/Client.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Client.edureka.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Client.edureka.com" xmlns:intf="http://Client.edureka.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Client.edureka.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="usdToInr">
    <complexType>
     <sequence>
      <element name="dollar" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="usdToInrResponse">
    <complexType>
     <sequence>
      <element name="usdToInrReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType/>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usdToInrResponse">

      <wsdl:part element="impl:usdToInrResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usdToInrRequest">

      <wsdl:part element="impl:usdToInr" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Client">

      <wsdl:operation name="usdToInr">

         <wsdl:input message="impl:usdToInrRequest" name="usdToInrRequest">

       </wsdl:input>

         <wsdl:output message="impl:usdToInrResponse" name="usdToInrResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClientSoapBinding" type="impl:Client">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="usdToInr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="usdToInrRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="usdToInrResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClientService">

      <wsdl:port binding="impl:ClientSoapBinding" name="Client">

         <wsdlsoap:address location="http://localhost:8080/Module14EEWebServiceSOAP/services/Client"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
